html {
	font-size: 16px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: black;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	margin: 0 auto;
	width: 672px; /* as long as h1 heading */
}

/******************************** HEADER *********************************/

header {
	background-color: orange;
	height: 20%;
	text-align: center;
}

/*** BEGIN: css for centering container with headings vertically and horizontally ****/

header {
	display: table;
	/*position: absolute;*/
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

/*** END ***/

h1,
h2 {
	color: white;
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 2rem;
}

/*h2:first-of-type { padding-top: 1.5%; }*/

/******************************** NAV *********************************/

nav {
	background-color: white;
	/*height: 5%;*/
	text-align: center;
}

nav button {
	background-color: white;
	border: none;
	color: orange;
	font-size: 1.3rem;
	font-weight: 900;
	margin: 0;
	padding: 0.8rem;
	text-transform: uppercase;
	-webkit-transition: background-color 1s, color 1s;
	transition: background-color .7s, color .7s;
}

nav button:hover {
	background-color: orange;
	color: white;
}	

nav button:focus {
	background-color: orange;
	color: white;
	outline: none;
}

#btn-1,
#btn-2,
#btn-3 {
	float: left;
}


#left-nav-div { float: left; }
#right-nav-div { float: right; }


/******************************** MAIN *********************************/

main .container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-top: 3rem;
}

.square {
	background-color: orange;
	border-radius: 10%;
	height: 11rem;
	margin: 0.4rem;
	width: 11rem;
}

/******************************** FOOTER *********************************/
footer {
	text-align: center;
}

footer p {
	color: orange;
	font-size: 
	text-transform: uppercase;
}

/**************************** MEDIA QUERIES *****************************/
@media(max-width: 765px) {
	html { font-size: 14px; }
	.container { width: 65%; }
}

@media(max-width: 669px) {
	html {font-size: 10px;}
}

@media(max-width: 479px) {
	html {font-size: 8px;}
	h2 {font-size: 2.5rem;}
}

@media(max-width: 387px) {
	html { font-size: 6px; }
}

@media(orientation: portrait) {
	#left-nav-btn {
		width: 50%;
	}

	#right-nav-div button {
		display: block;
		float: none;
		width: 100%;
		padding: 0.8rem 0;
	}
}

/*@media(orientation: portrait) {
	nav .container { width: 100%; }

	#btn-1,
	#btn-2,
	#btn-3 {
		display: block;
		float: none;
		padding: 1rem 0;
		margin: 0 auto;
		width: 100%;
		white-space: nowrap;
	}
}*/

/*@media(orientation: portrait) {
	main .container {
		width: 90%;
	}
} */

/*@media(max-width: 310px) {
	html {font-size: 5px;}
}*/