html {
	font-size: 16px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background-color: black;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.container {
	margin: 0 auto;
	width: 35%;
}

/******************************** HEADER *********************************/

header {
	background-color: orange;
	height: 20%;
	text-align: center;
}

/*** BEGIN: css for centering container with headings vertically and horizontally ****/

header {
	display: table;
	/*position: absolute;*/
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

/*** END ***/

h1,
h2 {
	color: white;
	margin: 0;
	text-transform: uppercase;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

/*h2:first-of-type { padding-top: 1.5%; }*/

/******************************** NAV *********************************/

nav {
	background-color: white;
	/*height: 5%;*/
	text-align: center;
}

nav button {
	margin: 0;
	font-size: 1rem;
	padding-bottom: 10px;
	padding-top: 10px;

}

nav button {
	background-color: white;
	border: none;
	color: orange;
	font-weight: 900;
	text-transform: uppercase;
	-webkit-transition: background-color 1s, color 1s;
	transition: background-color .7s, color .7s;
}

nav button:hover {
	background-color: orange;
	color: white;
}	

nav button:focus {
	background-color: orange;
	color: white;
	outline: none;
}

nav button:first-of-type {
	float: left;
}


nav button:nth-of-type(2),
nav button:nth-of-type(3) {
	float: right;
}



/******************************** MAIN *********************************/

main {
}

/******************************** FOOTER *********************************/
footer {
	text-align: center;
}

footer p {
	color: orange;
	font-size: 
	text-transform: uppercase;
}

/**************************** MEDIA QUERIES *****************************/
@media(max-width: 650px) {
	html { font-size: 14px; }
}

@media(max-width: 550px) {
	html {font-size: 11px;}
}

@media(max-width: 440px) {
	html {font-size: 10px;}
	h2 {font-size: 2.5rem;}
}

@media(max-width: 385px) {
	html { font-size: 8px; }
}



/*@media(max-width: 310px) {
	html {font-size: 5px;}
}*/